* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header{
      display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 30px;
  }
  button{
      padding: 15px;
      border-radius: 20px;
      background-color: teal;
      color: white;
  }
  button:hover{
     background-color:transparent;
     color: teal;
     border-color: teal;
     cursor: pointer; 
     transition: 2s;
  }
  .cards{
      padding-top: 50px;
      display: flex;
      gap: 20px;
  }